extends layout

block content
  .main-container.shadow-2
    nav.side-nav-static.divider-right
      a.nav-cell.link(href='#') about
      .collapsible
        button.nav-cell.link.title Project
        .collapsible-group.show
          a.collapsible-item.nav-cell.link(href='#') project 1
          a.collapsible-item.nav-cell.link(href='#') project 2
      .collapsible
        button.nav-cell.link.title Contacts
        .collapsible-group.show
          .collapsible-item.nav-cell email@email.com
          a.collapsible-item.nav-cell.link(target='_blank', href='https://github.com/hishehim')
            i.fa.fa-github
            | github-link
    .page-content
      div  hello
