extends layout

block content
  .content
    .header
      h1 Portfolio
    #identity
      .name.ex-large-font Shankun Lin
      .title Programmer &middot Developer
    //- .description
    #contacts lin.mhshs@gmail.com &middot 
      a(href='https://github.com/hishehim', target='_blank') github/hishehim
      |  &middot 
      a(href='https://www.linkedin.com/in/shankun-lin-88318983', target='_blank') linkedin/Shankun
    #project-list
      h1 Projects
        .card-grid