html, body
  height: 100%
  width: 100%
  margin: 0
  padding: 0
  overflow: hidden

body
  font: 14px Arial, Helvetica, sans-serif
  color: $primary-text
  background: $bg-color-secondary
  overflow: auto

a
  text-decoration: none
  color: inherit

h1
  margin: 0

.content
  margin: 0 auto
  max-width: 1024px
  height: 100%
  width: 100%

.header
  width: 100%
  height: $header-height
  line-height: $header-height
  text-align: center


#identity
  width: 100%
  text-align: center
  padding: 24px
  box-sizing: border-box

#description
  padding: 24px
  width: 100%
  box-sizing: border-box
  text-align: center
  p
    margin: 0
    white-space: pre

#contacts
  padding: 16px
  text-align: center

#project-list
  padding: 16px
  h1
    text-align: center
    font-size: $large-font
  @media #{$on-small-screen}
    padding-left: 0
    padding-right: 0