
// colors
$primary-color: #E0E0E0;
$secondary-color: #607D8B;

$bg-color: #FAFAFA;
$bg-color-secondary: #F5F5F5;
$bg-color-top: #FFFFFF;

$primary-text-light: rgba(255,255,255,.87);
$secondary-text-light: rgba(255,255,255,.54);
$tertiary-text-light: rgba(255,255,255,.38);
$divider-color-light: rgba(255,255,255,.12);
$hover-highlight-light: rgba(255,255,255,.05);

$primary-text: rgba(0,0,0,.87);
$secondary-text: rgba(0,0,0,.54);
$tertiary-text: rgba(0,0,0,.38);
$divider-color: rgba(0,0,0,.12);
$hover-highlight: rgba(0,0,0,.05);


// typography
$default-font-size: 14px
$large-font: 24px
$ex-large-font: 36px

// layouts
$header-height: 60px;

$default-padding: 16px
$horizontal-padding: 16px
$vertical-padding: 16px

// responsive media
$small-screen: 480px
$medium-screen: 768px
$on-small-screen: "only screen and (max-width: #{$small-screen})"
$on-meidum-screen-and-down: "only screen and (max-width #{$medium-screen})"